#main_text
{
    color: white;
    background-color: #171717;
    font-size: 60px;
    text-align: center;
    margin-top: 150px;
}

#animated_box
{
    display: block;
    width: 800px;
    margin: auto;
}

#animated_box :hover
{
    border-radius: 25px;
    color: #171717;
    background-color: white;
    transition: 0.8s ease;
    box-shadow: 0px 0px 20px white;
}